.navbar {
  background-color: #FD6600;
  color: #000000;
}

a.navbar-brand {
  color: #000000;
}
header {
  margin-bottom: 1.45rem;
}

.navbar-brand .icon {
  border: solid #000000 .1rem;
  border-radius: .25rem;
  display: inline-block;
  margin: .25rem;
  padding: 0 .25rem;
  font-size: 2.5rem;
}

.navbar-brand h1 {
  display: inline-block
}

main {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.filter-controls {
  background-color: #F6F6EF;
  border: 0;
}

.active-month {
  border: #000000 solid 1px;
  background: transparent;
  color: #000000;
  margin-bottom: 1.45rem;
}

.pagination-control {
  white-space: nowrap;
}

.job-posting {
  margin-bottom: 1rem;
}

.job-posting .authorship {
  color: #818181;
}
.postings-header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-actionbar {
  font-size: 80%;
  font-weight: 400;
  background-color: #F6F6F6;
}

.post-actionbar > button {
  background-color: inherit;
  font-size: inherit;
  font-weight: 400;
  padding: 0;
  border: 0;
}

.job-posting .user-notes {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}
.job-posting .user-notes textarea {
  border-radius: 0;
  border: 0;
}

.postings-footer {
  display: flex;
  justify-content: flex-end;
}

footer {
  margin-top: 1rem;
  background-color: #f5f5f5;
  width: 100%;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.githubLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.githubLink div {
  margin-left: .5rem;
}